[submodule "hikami"]
	path = hikami
	url = https://github.com/Alignof/hikami/
	branch = feature/eval_overhead
[submodule "rockos-u-boot"]
	path = rockos-u-boot
	url = https://github.com/Alignof/rockos-u-boot
	branch = feature/hikami
[submodule "rockos-opensbi"]
	path = rockos-opensbi
	url = https://github.com/Alignof/rockos-opensbi
	branch = feature/hikami
[submodule "hikami_zbs"]
	path = hikami_zbs
	url = https://github.com/Alignof/hikami_zbs
	branch = develop
